# The .replit file configures the run button and environment for your Repl.

run = "opam init -ya --disable-sandboxing && eval $(opam env) && opam switch create 4.14.0 && eval $(opam env) && opam install -y dune ounit curly && dune build && dune test"

[nix]
# Points to the replit.nix file we created earlier
file = "replit.nix"
